  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Transmission Room</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom md-selected="ProfileCtrl.selectedIndex">
      <md-tab label="1) Record">
        <md-content class="md-padding wrapper">
          <h1 class="md-display-2" id="countdown">15.00 secs</h1>
          <canvas id="oscilloscope" width="640" height="100">

          </canvas>
          <md-button class="md-primary md-raised" ng-mousedown="ProfileCtrl.startRecording()" ng-mouseup="ProfileCtrl.stopRecording()">Record Transmission</md-button>
        </md-content>
      </md-tab>
      <md-tab label="2) Add Title">
        <md-content class="md-padding">
          <h1 class="md-display-2">Add Title</h1>
          <md-input-container id="titleInput">
            <label>Title</label>
            <input ng-model="ProfileCtrl.newTransmission.title">
          </md-input-container>
          <md-button class="md-primary md-raised" id="transmit" ng-click="ProfileCtrl.postString()">Post Transmission</md-button>
        </md-content>
      </md-tab>
      <md-tab label="3) Transmit">
        <md-content class="md-padding">
          <h1 class="md-display-2">Success!</h1>
          <p>Your transmission has been broadcast successfully!</p>
          </md-content>
      </md-tab>
    </md-tabs>
  </form>
