  <md-content layout-padding>
    <form name="userForm">
      <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
      </div>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="name" />
          </div>
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input name="password" type="password" ng-model="password" />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input name="email" ng-model="email"/>
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <style>
          body[dir=rtl] .hint {
            right: 2px;
            left: auto;
          }
        </style>
      </div>
    </form>
  </md-content>

<div class="row">

  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="container loginBox">
      <div class="row titleBar">
        <h1>Hello...</h1>
      </div>
      <div class="row">
        <input class="loginInput" type="text" ng-model="name" placeholder="name">
        <input class="loginInput" type="email" ng-model="email" placeholder="email">
        <input class="loginInput" type="password" ng-model="password" placeholder="password">
          <button class="btn inputButtons" ng-click="createUser()">Create Account</button>
          <button class="btn inputButtons" ng-click="loginUser()">Login</button>
      </div>
    </div>
   <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" ng-click="githubLogin()">
  </div>
  <div class="col-xs-2"></div>


</div>