<div class="row">

  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="container loginBox">
      <div class="row titleBar">
        <h1>Hello...</h1>
      </div>
      <div class="row">
        <input class="loginInput" type="text" ng-model="name" placeholder="name">
        <input class="loginInput" type="email" ng-model="email" placeholder="email">
        <input class="loginInput" type="password" ng-model="password" placeholder="password">
          <button class="btn inputButtons" ng-click="createUser()">Create Account</button>
          <button class="btn inputButtons" ng-click="loginUser()">Login</button>
      </div>
    </div>
   <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" ng-click="githubLogin()">
  </div>
  <div class="col-xs-2"></div>


</div>